WarehouseProject/Connected Services/WarehouseServiceInbound/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WarehouseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Warehouse_Prj.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWarehouse_GetWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouse" />
  </wsdl:message>
  <wsdl:message name="IWarehouse_GetWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="IWarehouse_GetWarehouseByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouseByName" />
  </wsdl:message>
  <wsdl:message name="IWarehouse_GetWarehouseByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWarehouseByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IWarehouse_GetAllWarehouses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWarehouses" />
  </wsdl:message>
  <wsdl:message name="IWarehouse_GetAllWarehouses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWarehousesResponse" />
  </wsdl:message>
  <wsdl:message name="IWarehouse_UpdateWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWarehouse" />
  </wsdl:message>
  <wsdl:message name="IWarehouse_UpdateWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="IWarehouse_CreateWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateWarehouse" />
  </wsdl:message>
  <wsdl:message name="IWarehouse_CreateWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateWarehouseResponse" />
  </wsdl:message>
  <wsdl:portType name="IWarehouse">
    <wsdl:operation name="GetWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IWarehouse/GetWarehouse" message="tns:IWarehouse_GetWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWarehouse/GetWarehouseResponse" message="tns:IWarehouse_GetWarehouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IWarehouse/GetWarehouseByName" message="tns:IWarehouse_GetWarehouseByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWarehouse/GetWarehouseByNameResponse" message="tns:IWarehouse_GetWarehouseByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWarehouses">
      <wsdl:input wsaw:Action="http://tempuri.org/IWarehouse/GetAllWarehouses" message="tns:IWarehouse_GetAllWarehouses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWarehouse/GetAllWarehousesResponse" message="tns:IWarehouse_GetAllWarehouses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IWarehouse/UpdateWarehouse" message="tns:IWarehouse_UpdateWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWarehouse/UpdateWarehouseResponse" message="tns:IWarehouse_UpdateWarehouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IWarehouse/CreateWarehouse" message="tns:IWarehouse_CreateWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWarehouse/CreateWarehouseResponse" message="tns:IWarehouse_CreateWarehouse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWarehouse" type="tns:IWarehouse">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWarehouse">
      <soap:operation soapAction="http://tempuri.org/IWarehouse/GetWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseByName">
      <soap:operation soapAction="http://tempuri.org/IWarehouse/GetWarehouseByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWarehouses">
      <soap:operation soapAction="http://tempuri.org/IWarehouse/GetAllWarehouses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWarehouse">
      <soap:operation soapAction="http://tempuri.org/IWarehouse/UpdateWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateWarehouse">
      <soap:operation soapAction="http://tempuri.org/IWarehouse/CreateWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WarehouseService">
    <wsdl:port name="BasicHttpBinding_IWarehouse" binding="tns:BasicHttpBinding_IWarehouse">
      <soap:address location="http://localhost:8080/Warehouse_Prj.Service/WarehouseService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>