CreateUpdate/Connected Services/ProductServiceProxy/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Product_Prj.Service" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Category_Prj.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProduct_GetProductByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByID" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetProductByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetProductByUPC_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByUPC" />
  </wsdl:message>
  <wsdl:message name="IProduct_GetProductByUPC_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByUPCResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_UpdateProductByID_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductByID" />
  </wsdl:message>
  <wsdl:message name="IProduct_UpdateProductByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IProduct_Create_Product_InputMessage">
    <wsdl:part name="parameters" element="tns:Create_Product" />
  </wsdl:message>
  <wsdl:message name="IProduct_Create_Product_OutputMessage">
    <wsdl:part name="parameters" element="tns:Create_ProductResponse" />
  </wsdl:message>
  <wsdl:portType name="IProduct">
    <wsdl:operation name="GetProductByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/GetProductByID" message="tns:IProduct_GetProductByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/GetProductByIDResponse" message="tns:IProduct_GetProductByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByUPC">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/GetProductByUPC" message="tns:IProduct_GetProductByUPC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/GetProductByUPCResponse" message="tns:IProduct_GetProductByUPC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/UpdateProductByID" message="tns:IProduct_UpdateProductByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/UpdateProductByIDResponse" message="tns:IProduct_UpdateProductByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create_Product">
      <wsdl:input wsaw:Action="http://tempuri.org/IProduct/Create_Product" message="tns:IProduct_Create_Product_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProduct/Create_ProductResponse" message="tns:IProduct_Create_Product_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProduct" type="tns:IProduct">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductByID">
      <soap:operation soapAction="http://tempuri.org/IProduct/GetProductByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByUPC">
      <soap:operation soapAction="http://tempuri.org/IProduct/GetProductByUPC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductByID">
      <soap:operation soapAction="http://tempuri.org/IProduct/UpdateProductByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create_Product">
      <soap:operation soapAction="http://tempuri.org/IProduct/Create_Product" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProduct" binding="tns:BasicHttpBinding_IProduct">
      <soap:address location="http://localhost:8080/Product_Prj.Service/ProductService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>