CreateUpdate/Connected Services/WarehouseServiceProxy/Warehouse_Prj.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Warehouse_Prj.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Warehouse_Prj.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Warehouse">
    <xs:sequence>
      <xs:element minOccurs="0" name="WarehouseAddressCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehouseAddressState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehouseAddressStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehouseAddressZipcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehouseID" type="xs:int" />
      <xs:element minOccurs="0" name="WarehouseName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Warehouse" nillable="true" type="tns:Warehouse" />
  <xs:complexType name="ArrayOfWarehouse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Warehouse" nillable="true" type="tns:Warehouse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWarehouse" nillable="true" type="tns:ArrayOfWarehouse" />
</xs:schema>