WarehouseProject/Connected Services/InventoryServiceInbound/Inventory_Prj.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Inventory_Prj.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Inventory_Prj.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Inventory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Inventory_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Product_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Warehouse_ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Inventory" nillable="true" type="tns:Inventory" />
  <xs:complexType name="ArrayOfInventory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Inventory" nillable="true" type="tns:Inventory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventory" nillable="true" type="tns:ArrayOfInventory" />
</xs:schema>