WarehouseProject/Connected Services/InventoryServiceInbound/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Inventory_Prj.Service" />
  <xs:element name="Create_Inventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Inventory_Prj.Service" minOccurs="0" name="inventory" nillable="true" type="q1:Inventory" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_InventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Create_InventoryResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Inventories_By_Warehouse_Name">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Warehouse_Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Inventories_By_Warehouse_NameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Inventory_Prj.Service" minOccurs="0" name="Get_Inventories_By_Warehouse_NameResult" nillable="true" type="q2:ArrayOfInventory" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>