WarehouseProject/Connected Services/InventoryServiceInbound/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Inventory_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Inventory_Prj.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInventory_Service_Create_Inventory_InputMessage">
    <wsdl:part name="parameters" element="tns:Create_Inventory" />
  </wsdl:message>
  <wsdl:message name="IInventory_Service_Create_Inventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:Create_InventoryResponse" />
  </wsdl:message>
  <wsdl:message name="IInventory_Service_Get_Inventories_By_Warehouse_Name_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_Inventories_By_Warehouse_Name" />
  </wsdl:message>
  <wsdl:message name="IInventory_Service_Get_Inventories_By_Warehouse_Name_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_Inventories_By_Warehouse_NameResponse" />
  </wsdl:message>
  <wsdl:portType name="IInventory_Service">
    <wsdl:operation name="Create_Inventory">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory_Service/Create_Inventory" message="tns:IInventory_Service_Create_Inventory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory_Service/Create_InventoryResponse" message="tns:IInventory_Service_Create_Inventory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get_Inventories_By_Warehouse_Name">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory_Service/Get_Inventories_By_Warehouse_Name" message="tns:IInventory_Service_Get_Inventories_By_Warehouse_Name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory_Service/Get_Inventories_By_Warehouse_NameResponse" message="tns:IInventory_Service_Get_Inventories_By_Warehouse_Name_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInventory_Service" type="tns:IInventory_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create_Inventory">
      <soap:operation soapAction="http://tempuri.org/IInventory_Service/Create_Inventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_Inventories_By_Warehouse_Name">
      <soap:operation soapAction="http://tempuri.org/IInventory_Service/Get_Inventories_By_Warehouse_Name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Inventory_Service">
    <wsdl:port name="BasicHttpBinding_IInventory_Service" binding="tns:BasicHttpBinding_IInventory_Service">
      <soap:address location="http://localhost:8080/Inventory_Prj.Service/Inventory_Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>